 .sidenav {
     position: fixed;
     /* z-index: 1; */
     height: 100%;
     top: 0;
     left: 0;
     overflow-x: hidden;
     /* padding-top: 150px; */
     width: 180px;
     /* border: 1px solid black; */

 }

 /* .sidenav button {
     padding: 6px;
     font-size: 15px;
     border: 1px solid black;
     display: block;
     margin-bottom: 10px;
     cursor: pointer;
 } */

 /* .sidenav a {

     padding: 10px 8px;
     text-decoration: none;
     font-size: 20px;
     color: rgb(0, 0, 0);
     display: block;
     cursor: pointer;

 } */

 .sidenav ul a:hover {
     color: #f1f1f1;
     font-size: 20px;
 }

 .main-1 {
     margin-left: 180px;
     margin-top: 100px;
     padding: 0px 10px;
 }

 @media screen and (max-height: 450px) {
     .sidenav {
         padding-top: 15px;
     }

     .sidenav a {
         font-size: 15px;
     }
 }
 /* ***************************************************************************** */

 .modal {
     position: fixed !important;
     top: 80px !important;
 }

 .modal-backdrop {
     position: fixed !important;
    top: 100% !important;
 }

 /* *********************************************************************************************** */
 /* profile css */
 #box {
     border-radius: 20px;


 }

 .container {
     background: rgb(255, 255, 255);
     padding-bottom: 25px;
     margin-bottom: 25px;
     margin-top: 50px;
     padding-top: 50px;

 }

 #profile {
     /* margin-top:500px; */
     /* display: inline-block; */
     padding: 10px;
     border-radius: 20px;
     justify-content: center;
     align-items: center;
     /* height: auto; */
     border: 2px solid rgb(0, 0, 0);
     padding: 50px 10px;
     margin-top: 5%;
     margin-bottom: 10%;
     -webkit-box-shadow: -2px 17px 64px 15px rgb(0, 0, 0, 1);
     -moz-box-shadow: -2px 17px 64px 15px rgb(0, 0, 0, 1);
     box-shadow: -2px 17px 64px 15px rgb(0, 0, 0, 0.1);
     /* background-color: rgb(255, 255, 255); */
     background: linear-gradient(150deg, rgb(224, 195, 252), rgb(142, 197, 252));
 }

 /* ***************************************************profilephoto******************************** */
 /* *********************************************************************************** */
 #imageUpload {
     display: none;
 }

 #profileImage {
     cursor: pointer;
 }

 #profile-container {
     margin-top: 40px;
     width: 150px;
     height: 150px;
     overflow: hidden;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     border-radius: 100%;
     /* color: whitesmoke; */
 }

 #profile-container img {
     width: 150px;
     height: 150px;
 }