a{
    color: white;
}
#box {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    /* background: linear-gradient( #7474bf,#348ac7 ); */

}

.container {
    background: rgb(255, 255, 255);
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top: 25px;

}

.pt-0 {
    margin: 10vh auto;
border-radius: 20px;
border: 2px solid rgb(0, 0, 0);

}

.pt-1 {
    margin: auto;
}

#form-box {
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    padding: 30px 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: linear-gradient(150deg, rgb(224, 195, 252), rgb(142, 197, 252));
    /* background-color: rgb(255, 255, 255); */

    text-decoration: none;
}

#form-box-1 {
    display: inline-block;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 2px solid rgb(0, 0, 0);
    padding: 50px 10px;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-shadow: -2px 17px 64px 15px rgb(0, 0, 0, 1);
    -moz-box-shadow: -2px 17px 64px 15px rgb(0, 0, 0, 1);
    box-shadow: -2px 17px 64px 15px rgb(0, 0, 0, 0.1);
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(150deg, rgb(224, 195, 252), rgb(142, 197, 252));

}

#photo1 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
    width: 50%;
}

/* ***************************************************profilephoto******************************** */
#imageUpload {
    display: none;
}

#profileImage {
    cursor: pointer;
}

#profile-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 100%;
    /* color: whitesmoke; */
}

#profile-container img {
    width: 150px;
    height: 150px;
}